body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}
a{
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
.logo {
    color:  #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.logo-part {
    color: #2E2F42;
}
.nav-link {
    color:  #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus{
    color: #404BBF;
}
.address {
    font-style: normal;
}
.address-link {
    color:  #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}